NG_APP_APPLICATION_ENVIRONMENT=development
NG_APP_APPWRITE_ENDPOINT=http://localhost/v1
NG_APP_APPWRITE_PROJECT=6506390d90c401878290
NG_APP_API_ENDPOINT=http://appwrite-tour-of-heroes
NG_APP_HERO_DB_COLLECTION_ID=65064c1f085ddbc04218
NG_APP_APPLICATION_DATABASE_ID=65064c12299384c6ff1b
